$mainColor: #3f51b5;
$fontSize: 12px;
$fontColor: #ffffff;
$labelFontWeight: 400;
$btnFontWeight: 600;

.paginator-container {
    float: left;
    display: flex; 
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
}

.row-paginator {
    float: left; 
    display: flex; 
    position: relative;
    flex-direction: row;
    padding: 3px 0px;
    align-items: center;
    box-sizing: border-box;
}

.paginator-label {
    font-size: $fontSize; 
    font-weight: $labelFontWeight; 
    color: rgba(0, 0, 0, .85);
}

.page-size-label {
    margin: 0 5px;
}

.page-range-label {
    margin: 0 32px 0 24px;
}

.page-size-selector {
    float: left; 
    display: inline-flex; 
    box-sizing: border-box; 
    position: relative; 
    border: solid 1px #ccc;
    font-size: $fontSize;
    font-weight: $btnFontWeight; 
    min-width: 75px;
    color: rgba(0, 0, 0, .85);
    background-color: #ccc;
    padding: 6px; 
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
}

.btn-page {
    float: left; 
    display: inline-flex; 
    width: auto; 
    height: auto; 
    position: relative; 
    padding: 5px; 
    margin-left: 5px;
    background-color: #fff;
    justify-items: center; 
    align-items: center;
    border-radius: 5px;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,.5);
    transition: all .3s ease;
    cursor: pointer; 
    font-size: $fontSize; 
    font-weight: $btnFontWeight;
    color: rgba(0, 0, 0, .85);
    
    &:hover {
        color: #fff; 
        background-color: $mainColor;
    }
}

.btn-page.active {
    color: #fff; 
    background-color: $mainColor;
    cursor: default;
}

.btn-page.is-last, .btn-page.active.is-last {
    margin-right: 0px;
}

@media all and (max-width: 650px) {
    .row-paginator {
        width: 100%;
        justify-content: center !important;
        margin-bottom: 15px;

        :last-child {
            margin-bottom: 0px;
        }
    }
}

@media all and (min-width: 651px) {
    .row-paginator {
        width: auto;
    }
}