table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}
  
table caption {
    font-size: 1.5em;
    margin: .25em 0 .75em;
}
  
table tr {
    background: #f2f2f2;
    border: 1px solid #ddd;
    padding: .35em;
}

table tr:nth-child(even) {
    background-color: #f8f8f8 !important;
}

table thead tr {
    background-color: #d1d1d1 !important;
}

table thead tr th {
    font-size: 1.05em;
}

table tr th, table tr td {
    padding: 10px !important;
}
  
table th, table td {
    padding: .625em;
    text-align: center;
}
  
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
  
table td img { 
    text-align: center; 
}

table tr th, table tr td {
    border-right: solid 1px #ccc;
}

table tr th:last-child, table tr td:last-child {
    border-right: none;
}

.td-text-align-left {
    text-align: left !important;
}

.td-text-align-center {
    text-align: center !important;
}

.td-text-align-right {
    text-align: right !important;
}

table td {
    font-size: 14px !important;
}

@media screen and (max-width: 650px) {
    table { 
        border: 0; 
    }
  
    table caption { 
        font-size: 1.3em; 
    }
  
    table thead { 
        display: none; 
    }
  
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
  
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
  
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
  
    table td:last-child { border-bottom: 0; }

    .td-text-align-left, .td-text-align-center, .td-text-align-right {
        text-align: right !important;
    }
}