$sImgAvatarSize: 40px;
$mImgAvatarSize: 100px;
$lImgAvatarSize: 180px;
$xlImgAvatarSize: 250px;

.img-container, .full-bg-img, .avatar-actions, .icon-trigger-container {
    width: 100%;
    height: 100%;
}

.img-container, .full-bg-img {
    display: block; 
    position: relative;
}

.img-container {
    background-color: black;

    /deep/ img {
        display: block; 
        width: 100%;
        height: 100%;
        object-fit: inherit;
        object-position: inherit;
    }
}

.full-bg-img {
    min-height: inherit !important;
    background-repeat: no-repeat;
    background-position: center center;
}

.contain {
    background-size: contain;
}

.cover {
    background-size: cover;
}

.s {
    width: $sImgAvatarSize !important; 
    height: $sImgAvatarSize !important;
}

.m {
    width: $mImgAvatarSize !important; 
    height: $mImgAvatarSize !important;
}

.l {
    width: $lImgAvatarSize !important; 
    height: $lImgAvatarSize !important;
}

.xl { 
    width: $xlImgAvatarSize !important; 
    height: $xlImgAvatarSize !important;
}

.orangeAvatar, .purpleAvatar {
    color: #FFFFFF !important;
}

.orangeAvatar {
    background-color: orange !important;
}

.purpleAvatar {
    background-color: purple !important;
}

.avatar-actions {
    display: flex;
    position: absolute; 
    top: 0px; 
    left: 0px; 
    z-index: 100; 
}

.avatar-actions-icon-trigger-btn {
    color: #FFFFFF !important; 
    padding: 6px !important;
    border-radius: 6px !important;
}

.icon-trigger-container {
    display: flex; 
    position: relative; 
    justify-content: center; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
}

.icon-trigger-active {
    background-color: crimson !important;
}