$dim: 25px;
$imgDim: 40px;

.search-block-container {
    display: flex; 
    width: 100%;
    position: relative; 
    flex-direction: row; 
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px;
    border: solid 1px #ccc;

    input {
        border: none !important;
        width: 100%; 
        height: calc(100% - 2px);
    }
}

.autocomplete-actions {
    display: flex; 
    width: $dim; 
    height: $dim;
    position: relative; 
}
