$dim: 20px;
$imgDim: 30px;

.MuiButton-contained {
    box-shadow: none !important;
}

.autocomplete-container {
    display: flex; 
    width: 100%;
    position: relative; 
    flex-direction: row; 
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px;
    border: solid 1px #ccc;

    .react-autosuggest__container {
        width: calc(100% - 30px) !important;
        height: $dim !important;
    }

    input {
        border: none !important;
        width: 100%; 
        height: calc(100% - 2px);
    }

    .react-autosuggest__suggestions-container {
        box-sizing: border-box !important;
        background-color: white !important;
        position: absolute !important; 
        z-index: 200 !important;
        width: 100% !important; 
        max-height: 90vh !important;
        overflow-x: hidden !important; 
        top: 42px !important; 
        left: 0px !important;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12) !important;

        ul, li {
            list-style: none !important;
        }

        ul {
            margin: 0px !important; 
            padding: 5px 0px !important;
        }
    }
}

.autocomplete-actions {
    display: flex; 
    width: $dim; 
    height: $dim;
    position: relative; 
}

.loader-spinner, .autocomplete-reset-btn {
    float: left; 
    display: flex; 
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;
    align-items: center; 
    justify-content: center;
}

.loader-spinner {
    .MuiCircularProgress-root {
        width: $dim !important; 
        height: $dim !important;
    }
}

.autocomplete-reset-btn { 
    cursor: pointer;
}

.autocomplete-item {
    display: flex; 
    width: 100%; 
    position: relative; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;

    .thumb, .mini-desc-with-img {
        display: flex; 
        position: relative;
    }

    .thumb {
        width: $imgDim; 
        height: $imgDim; 
    }

    .mini-desc-with-img {
        width: calc(100% - 50px);
    }
}

.mini-desc {
    display: flex; 
    width: 100%;
    flex-direction: column;
    position: relative;
    color: #000000 !important;

    .title, .subtitle {
        display: flex; 
        width: 100%;
    }

    .title {
        font-size: 14px !important;
        font-weight: 500 !important;
    }

    .subtitle {
        font-size: 10px !important;
    }    
}