.drag-drop-select-container {
    float: left; 
    display: flex; 
    min-width: 300px;
    width: 100%;
    height: 300px;
    position: relative;
    box-sizing: border-box;
    border-style: dotted;
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.5);
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.drag-drop-select-file-input {
    position: absolute; 
    z-index: -1;
    top: -9999999px;
}