.div-table-container, .div-block-filter, .div-block-filter-row, .div-paginator-container {
    display: flex; 
    width: 100%; 
    position: relative; 
    box-sizing: border-box; 
}

.div-block-filter {
    flex-direction: column;
}

.div-block-filter-row {
    border-bottom: solid 1px #ccc;
    justify-content: space-between;
    align-items: center;    
    flex-wrap: wrap;
}

.div-block-filter-row-columns {
    display: flex; 
    position: relative;
    flex-wrap: wrap;
    align-items: center !important;
}

.div-table-container, .div-block-filter-row, .div-paginator-container {
    padding: 20px;
}

.div-paginator-container {
    justify-content: center;
}

.div-filter-actions {
    display: flex; 
    position: relative; 

    button {
        margin-right: 10px;
    }

    button:last-child {
        margin-right: 0px;
    }
}

.div-filter-autocomplete, .div-book-desc {
    display: flex; 
    position: relative;
}

.div-book-desc {
    flex-direction: column; 
    margin: 20px 0px !important;
    
    h1, h2, h3, h4, h5, h6 {
        margin: 0px !important; 
        font-weight: 300 !important;
    }
}

table td {
    .title {
        font-size: 14px !important;
        font-weight: 500 !important;
    }

    .subtitle {
        font-size: 10px !important;
    }
}

@media all and (max-width: 650px) {
    .div-block-filter-row-columns {
        width: 100% !important;
        justify-content: center; 
        flex-direction: column;
        padding: 10px 0px;
    }

    .div-block-filter-row-columns:first-child {
        padding-top: 0px;
    }

    .div-block-filter-row-columns:last-child {
        padding-bottom: 0px;
    }

    .div-filter-actions {
        width: 100%; 
        justify-content: center; 
        margin-top: 10px;
    }

    .div-filter-autocomplete {
        width: 100%; 
    }

    .div-book-desc {
        width: 100%;
    }
}

@media all and(min-width: 651px) {
    .div-block-filter-row-columns {
        width: auto !important;
    }

    .div-filter-actions {
        width: auto;
    }

    .div-filter-autocomplete {
        width: calc(100% - 150px);
    }    

    .div-book-desc {
        width: 49%;
    }
}