@import "./custom-styles/tables.scss";

html, body {
  height: 100% !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer !important;
}

.MuiInput-input {
  text-align: center !important;
}

.MuiTextField-root {
  width: 50px !important;
}

.company-logo, .div-row, .div-center-content, .div-search-form {
  display: flex; 
  position: relative;
}

.company-logo {
  height: 65px; 
  background-image: url("https://www.supero.com.br/wp-content/themes/supero/assets/images/supero_logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.div-row, .div-center-content {
  width: 100%; 
  box-sizing: border-box; 
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap;
}

.router-outlet {
  padding: 20px !important;
  justify-content: center !important;
}

.div-center-content {
  max-widtH: 1024px;
}

header {
  position: relative !important;
}

@media all and (max-width: 650px) {
  .company-logo {
    width: 100%;
    margin-bottom: 10px;
  }

  .div-search-form {
    width: 100%;
  }
}

@media all and (min-width: 651px) {
  .company-logo {
    width: 97px;
  }

  .div-search-form {
    width: calc(100% - 150px);
  }    
}